

<br />
<h2 class="text-center">Channels</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}


<div class="container">
    <div class="row">
        @foreach (var channel in ViewBag.Channels)
        {
            <div class="col-sm-4 mb-4">
                <div class="card">
                    <partial name="ChannelInfo" model="channel" />
                    <a class="btn btn-success" asp-controller="Channels" asp-action="Show" asp-route-id="@channel.Id">Acceseaza canal</a>
                </div>
            </div>
        }
    </div>
</div>