@{
    var channels = ViewBag.Channels as IEnumerable<Nora.Models.Channel>;
}

<br />
<h2 class="text-center">Afisare canale</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<div class="container">
    <div class="row">
        @if (channels != null)
        {
            foreach (var chat in channels)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <partial name="ChannelInfo" model="chat" />
                        <a class="btn btn-success" asp-controller="Channels" asp-action="Show" asp-route-id="@chat.Id">Acceseaza canal</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning text-center">
                No channels available.
            </div>
        }
    </div>
</div>
