@{
    var channels = ViewBag.Channels as IEnumerable<Nora.Models.Channel>;
}

<br />
<h2 class="text-center">My channels</h2>
<br />

<div class="container">
    <div class="row">
        @if (channels != null && channels.Any())
        {
            @foreach (var channel in channels)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card">

                        <!-- Use the partial as intended -->
                        <partial name="ChannelInfo" model="@channel" /> 

                        <!-- Link to access the channel -->
                        <a class="btn btn-success" asp-controller="Channels" asp-action="Show" asp-route-id="@channel.Id">
                            Acceseaza canal
                        </a>
                        <a class="btn btn-success" asp-controller="Channels" asp-action="MembersList" asp-route-id="@channel.Id">
                            Vezi membri
                        </a>
                    </div>
                </div>
            } 
            
        }
        else
        {
            <p>No channels found.</p>
        }
    </div>
</div>