<div class="card-body">

    <!-- Title -->
    <h3 class="card-title py-3 px-3 rounded-2 text-center text-dark fw-bold">
        @Model.Title
    </h3>

    <!-- Subtitle -->
    <h5 class="card-subtitle mt-3 text-muted">
        @Model.Description
    </h5>

    <!-- Categories -->
    <div class="mt-4">
        <p class="fw-bold text-dark">Categorii:</p>
        <ul class="list-unstyled">
            @if (Model.CategoryChannels != null)
            {
                foreach (var categoryChannel in Model.CategoryChannels)
                {
                    <li class="text-muted">- @categoryChannel.Category.CategoryName</li>
                }
            }
            else
            {
                <li class="text-muted">Nicio categorie asociată.</li>
            }
        </ul>
    </div>

    <!-- User Info -->
    <div class="d-flex justify-content-between align-items-center flex-row mt-5 border-top pt-3">
        <div class="d-flex align-items-center">
            <i class="bi bi-person me-2 text-secondary"></i>
            <span class="text-secondary fw-semibold">@Model.User.UserName</span>
        </div>
    </div>

</div>
